bidict==0.23.1
blinker==1.9.0
click==8.1.8
dnspython==2.7.0
eventlet==0.39.1
Flask==3.1.0
Flask-SocketIO==5.5.1
greenlet==3.1.1
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
python-engineio==4.11.2
python-socketio==5.12.1
simple-websocket==1.1.0
Werkzeug==3.1.3
wsproto==1.2.0
/var/www/                # Gerenciado pelo Nginx
│── navalstrike.ddns/                # Diretório servido pelo Nginx
│   ├── index.html
│── static/              # Arquivos estáticos (CSS, JS, imagens)
│   ├── css/
│   ├── js/
│       ├── battleship.js
│   ├── img/
│       ├── batt1.gif
│       ├── batt2.gif
│       ├── batt3.gif
│       ├── batt4.gif
│       ├── batt5.gif
│       ├── batt6.gif
│       ├── batt7.gif
│       ├── batt8.gif
│       ├── batt9.gif
│       ├── batt10.gif
│       ├── batt100.gif
│       ├── batt101.gif
│       ├── batt102.gif
│       ├── batt103.gif
│       ├── batt201.gif
│       ├── batt202.gif
│       ├── batt203.gif
│       ├── batt204.gif
│       ├── batt205.gif
│       ├── batt206.gif


/home/user/projeto/      # Aplicação Flask
│── app/
│   ├── __init__.py      # Configuração do Flask
│   ├── config.py        # Rotas REST (caso precise)
│   ├── extensions.py       # WebSockets (Flask-SocketIO)
│   ├── sockets.py        # Configuração geral
│── run.py               # Arquivo para rodar o servidor